body { margin: 0; padding: 0; font-size: 1rem; }

h1 { font-size: 1.56rem; }
/*p:first-child { background-color: #3498db; }
p:nth-child(2) { background-color: #ecf0f1; }
p:nth-child(3) { background-color: #e74c3c; }*/
p { background-image: url('http://applicook.fr/iut/images/bg.jpg'); background-size: cover; }

header {
    background: url(http://applicook.fr/iut/images/logo-iut.jpg) no-repeat;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 145px;
    margin: 0 auto;
}

table, tr, td { border: 1px inset grey; }
td:first-child { background-color: lightgrey; }
